.App {
  text-align: left;
  font-family: 'Helvetica-light', serif;
  padding-left: 10px;
}

.getSuggestion {
  padding-bottom: 40px;
  float: left;
  padding-right: 200px;
}

.List {
  display: inline-block;
}

.addItem {
  padding-bottom: 20px;
}

#menu li {
  list-style-type: none;
}